@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;

    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
 
    --primary: 161 79% 39%; /* #10B981 */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 220 13% 96%;
    --secondary-foreground: 215 28% 17%;
 
    --muted: 220 13% 96%;
    --muted-foreground: 215 14% 47%;
 
    --accent: 120 35% 45%; /* Darker Sea Green */
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 161 79% 39%;
 
    --radius: 0.5rem;

    --chart-1: 161 79% 39%;
    --chart-2: 120 40% 64%;
  }
 
  .dark {
    --background: 210 3% 11%; /* #1b1c1d */
    --foreground: 220 14% 91%; /* #E5E7EB */
 
    --card: 215 6% 16%; /* #282a2c */
    --card-foreground: 220 14% 91%;
 
    --popover: 215 6% 16%;
    --popover-foreground: 220 14% 91%;
 
    --primary: 161 79% 39%; /* #10B981 */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 215 6% 16%;
    --secondary-foreground: 220 14% 91%;
 
    --muted: 215 6% 16%;
    --muted-foreground: 215 20% 65%;
 
    --accent: 120 35% 45%; /* Darker Sea Green */
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 220 14% 91%;
 
    --border: 215 20% 27%; /* #374151 */
    --input: 215 20% 27%;
    --ring: 161 79% 39%;

    --chart-1: 161 79% 39%;
    --chart-2: 120 40% 64%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .prose-chat p {
        @apply my-2; /* Reduz a margem vertical dos parágrafos */
    }
}
